.formulaire {
  background: linear-gradient(
    329.37deg,
    #4776e6 10.02%,
    #474de6 38.38%,
    #8e54e9 64.7%
  );
  height: 100vh;
  width: 100vw;
}

.loadingScreen {
  width: 100vw;
  height: 100vh;
}

.image img {
  width: 45vh;
  margin: 0 auto;
}

.image {
  margin: 0 auto;
}

.formulaire {
  display: flex;
  justify-items: center;
  flex-direction: column;
  max-width: 100vh;
}

.login-tout {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  color: white;
}

.login {
  padding-top: 5vh;
}

.inputPseudo,
.inputPassword {
  width: 282px;
  height: 47px;
  border-style: none;
  border-radius: 15px;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.submitButton {
  width: 150px;
  height: 50px;
  background: linear-gradient(96.46deg, #c84e89 10.99%, #f15f79 83.72%);
  border-radius: 50px;
  color: white;
  display: flex;
  border: none;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 5vh;
}

.label-all {
  margin-left: 3vw;
  justify-content: center;
}

.image,
.login-tout {
  opacity: 0;
  animation: load_up_text 3s forwards;
  -webkit-animation: load_up_text 3s forwards;
}

.loadingScreen {
  width: 100vw;
  opacity: 0;
  animation: load_up 3s forwards;
  -webkit-animation: load_up 3s forwards;
  display: flex;
  flex-direction: column;
}

@keyframes load_up {
  from {
    transform: translateY(100vh);
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes load_up {
  from {
    opacity: 1;
    top: 50%;
  }
  to {
    opacity: 0;
    top: -50%;
  }
}

@keyframes load_up_text {
  from {
    transform: translateY(100vh);
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes load_up_text {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


.registerLink {
  position: absolute;
  color: white;
  bottom: 5vh;
  left: calc(50%);
  margin: 0 auto;
  transform: translate(-50%);
}